#header {
    font-family: dank mono;
    text-align: center;
}


#contact {
    text-align:  center;
}

#contact a img{
width: 3%;
height: auto;
}



footer {
    text-align: center;
}