*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
}
main { 
    left: 45%;
    top: 45%;
    position: fixed;
    color: white;
}
main h1{
    font-family: montserrat;
    font-weight: 300;
    font-size: 60px;
}
main p {
    font-family: dank mono;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}
#vidBg{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.logo h1 {
    font-family: Dank mono;
    margin-left: 1rem;
    margin-top: 1rem;
}
.logo h1 a {
    font-family: dank mono;
    padding: .5rem;
    color:white;
    text-decoration: none;
}
.logo h1 a:hover{
border: 1px solid gray;
}


.topnav ul li {
    margin-top: 1rem;
    display: inline-block;
}

.topnav ul li a{
    color: black;
    font-size: 1.4rem;
    font-family: Lora;
    text-decoration: none;
    padding: 1rem;
    }
.topnav ul li a:hover{
    text-decoration: underline;
}

.signup{
    margin-top: 1rem;
}
.signup a {
    color: black;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    padding: 0.5rem;
    margin-right: 2.4rem;
}
.signup a:hover {
    text-decoration: underline;
}
